@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 15px;
}

.navbar .left-side {
    display: flex;
    width: 20%;
}

.navbar .left-side ul{
    list-style: none;
    display: flex;
    align-self: center;
}
.navbar .left-side ul li {
    margin: 0 10px;
}

.navbar .left-side ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.navbar .right-side {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}
.navbar .right-side ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}
.navbar .right-side ul li{
    margin: 0 10px;
}
.navbar .right-side ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.navbar .right-side button {
    display: flex;
    margin: 5px 40px 10px 10px;
    background: #4c8bf5;
    border: none;
    text-decoration: none;
    align-self: center;
    padding: 7px 15px;
    color: white;
    font-weight: 700;
}

main {
    width: 100%;
    text-align: center;
    height: 500px;
}

.logo {
    margin-top: 100px;
}

.searchbar {
    display: flex;
    justify-content: center;
    position: relative;
    left: 35%;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 35%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 50px;
}

.searchbar i {
    align-self: center;
    color: lightgray
}

.searchbar input {
    border: none;
    background: white;
    width: 80%;
}

.searchbar img {
    width: 30px;
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.footer-links .left-side{
    display: flex;
}

