@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');


.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 15px;
}

.navbar .left-side {
    display: flex;
    width: 20%;
}

.navbar .left-side ul{
    list-style: none;
    display: flex;
    align-self: center;
}
.navbar .left-side ul li {
    margin: 0 10px;
}

.navbar .left-side ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.navbar .right-side {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}
.navbar .right-side ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}
.navbar .right-side ul li{
    margin: 0 10px;

}
.navbar .right-side ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.navbar .right-side button {
    display: flex;
    margin: 5px 40px 10px 10px;
    background: #4c8bf5;
    border: none;
    text-decoration: none;
    align-self: center;
    padding: 7px 15px;
    color: white;
    font-weight: 700;
}

main {
    width: 100%;
    text-align: center;
    height: 500px;
}

.logo {
    margin-top: 100px;
}

.searchbar {
    display: flex;
    justify-content: center;
    position: relative;
    left: 32%;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 35%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 50px;
}

.searchbar i {
    align-self: center;
    color: lightgray;
    position: relative;
    right: 15px;
}

.searchbar input {
    border: none;
    background: white;
    width: 80%;
}

.searchbar img {
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    align-self: center;
    left: 5px;
}

.buttons {
    margin-top: 30px;
}

.buttons button {
    border: none;
    background: rgba(228, 227, 227, 0.904);
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 13px;
}

footer {
    background: rgba(228, 227, 227, 0.904);
    height: 41px
}
footer .footer-links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    
    color: grey;
    padding-top: 10px;
}

.footer-links .left-side ul {
    list-style: none;
    display: flex;
}
.footer-links .left-side ul li{
    margin-left: 20px;
}

.footer-links .right-side ul{
    list-style: none;
    display: flex;
}
.footer-links .right-side ul li {
   margin-right: 20px;
}
.footer-links a {
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-weight: 100;
}



